* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --green-color: #b8fb3c;
    --bg-image: url('./assets/bg.png');
    --font:  "Science Gothic", sans-serif;
}
html, body, main {
    width: 100%;
    height: 100%;
}
body {
    background: var(--bg-image);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--green-color);
    font-family: var(--font);
}
section {
    height: 100%;
    padding:1.2rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    border: 2px solid rgba(241, 241, 241, 0.712);
    border-radius: 8px;
    background-color: rgba(13, 13, 14, 0.283);
    -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.infos .info {
     /* border: 2px solid rgba(241, 241, 241, 0.712);
    border-radius: 8px; */
    padding: 0.5rem;
}
.board {
    width: 100%;
    height: 100%;
    border: 2px solid rgba(241, 241, 241, 0.712);
    border-radius: 8px;
    flex-grow: 1;
    background-color: rgba(13, 13, 14, 0.283);
    -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}