* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: #b8fb3c;
    --color: #020225;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    background: var(--color);
    color: var(--bg-color);
}