* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --green-color: #b8fb3c;
    --bg-image: url('./assets/bg.png');
    --font:  "Science Gothic", sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    background: var(--bg-image);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--green-color);
    font-family: var(--font);
}
.game-container {
    width: 100%;
    height: 100%;
    padding:1.5rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    border: 2px solid red;
}