* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --green-color: #b8fb3c;
    --bg-color: rgb(49, 7, 77);
    --bg-image: url('./assets/bg.png');
    --font:  "Science Gothic", sans-serif;
}
html, body, main {
    width: 100%;
    height: 100%;
}
body {
    background: var(--bg-image);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--green-color);
    font-family: var(--font);
}
section {
    height: 100%;
    padding:1.2rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    border: 2px solid rgba(241, 241, 241, 0.712);
    border-radius: 8px;
    background-color: rgba(13, 13, 14, 0.283);
    -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.infos .info {
     /* border: 2px solid rgba(241, 241, 241, 0.712);
    border-radius: 8px; */
    padding: 0.5rem;
}
.board {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    flex-grow: 1;

    background-color: rgba(13, 13, 14, 0.283);
    -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}
.block {
    /* width: 30px;
    height: 30px; */
    border: 1px solid rgba(241, 241, 241, 0.521);
    border-radius: 2px;
    font-size: 0.7rem;
}
.fill {
    background: var(--bg-color);
}




@media (max-width: 786px) {
    section {
        padding: 1.5rem;
    }
    .infos .info {
        font-size: 0.6rem;
    }
    .board {
        height: 50%;
        flex-grow: unset;
    }
    /* .board {
       grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
       grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
    } */
}